<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Achievements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="achievements && userAchievements"
    lines="none">
    <ion-list-header>
      <ion-label>Unlocked</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let id of unlockedAchievementIds; index as id;">
      <ion-avatar slot="start">
        <img src="../../assets/icon/{{ achievements[id].iconName }}">
      </ion-avatar>
      <ion-label text-wrap>
        {{ achievements[id].name }}
        <p>{{ achievements[id].description }}</p>
      </ion-label>
      <ion-badge
        *ngIf="userAchievements[id] && (!userAchievements[id].isAchieved && userAchievements[id].progress !== undefined)"
        color="tertiary"
        slot="end">
        {{ userAchievements[id].progress }} / {{ achievements[id].totalSteps }}
      </ion-badge>
    </ion-item>

    <ion-list-header>
      <ion-label>Locked</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let id of lockedAchievementIds; index as id;"
      disabled="true">
      <ion-avatar slot="start">
        <img src="../../assets/icon/{{ achievements[id].iconName }}">
      </ion-avatar>
      <ion-label text-wrap>
        {{ achievements[id].name }}
        <p>{{ achievements[id].description }}</p>
      </ion-label>
      <ion-badge
        *ngIf="userAchievements[id] && (!userAchievements[id].isAchieved && userAchievements[id].progress !== undefined)"
        color="tertiary"
        slot="end">
        {{ userAchievements[id].progress }} / {{ achievements[id].totalSteps }}
      </ion-badge>
    </ion-item>

  </ion-list>
</ion-content>