<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cars"
            lines="none">
    <ion-item *ngFor="let id of sortedCarIds; index as i;"
              (press)="onPressCar(id)">
      <ion-avatar slot="start">
        <img [src]="cars[id].source === 'scan' ? '../../assets/icon/barcode.svg' : '../../assets/icon/pencil.svg'">
      </ion-avatar>
      <ion-label>
        {{ id }}
        <p>
          {{ getTimeFromNow(cars[id].updatedAt) }}
        </p>
      </ion-label>
      <ion-note slot="end">
        <ion-badge color="tertiary">
          {{ cars[id].entries }}
        </ion-badge>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom"
           horizontal="center"
           slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="saveCarFromBarcode()">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="saveCarFromPrompt()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>